/* 
	Marco Rodriguez
	Project 4
	06-21-12
	VFW 1206
*/	

/* css style sheet */
/* index style css */
body {
	/* Webkit (Safari/Chrome 10) */ 
/* Webkit (Safari/Chrome 10) */ 
	/*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #f1f1f1));	
	*/
	background-image:url('../images/bground.jpg');
	background-repeat: no-repeat;
	background-color: #FFF;
	font-family: Arial, "Helvetica", sans-serif;
	font-size: 13px;

}
/* h1 tag styling */
h1 {
	color: #fff;
	display: block;
	padding-bottom: 5px;
}
/* style for my paragraph tag */
p {
	line-height: 140%;
	color: #999;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;

}
/* h2 styles */
h2 {
	color: #999;
	padding-left: 10px;
}
#footer {
	clear: left;
	color: #999;
	text-align: center;
}
/* form styles start here */


/* fieldset styles */
fieldset {
		width: auto;
		font-family: helvetica;
		font-size: 12px;
		color:  #c7310e;
		border-color: #F0F0F0;
		line-height: 140%;
		
	}
/* legend tag styles */
legend {
	font-size: 16px;
	font-style: bold;
	background-color: #F0F0F0;
	padding: 5px;
}
/* listed items styles */
li {
	display: block;
	line-height: 140%;
}
/* textarea styles */ 
textarea {
	background-color: #F0F0F0;
}

/* submit button class styles */
.button {
    border: none;
   	background-color: #000;
	padding: 5px;
	border-radius: 5px;
	color: #fff;
	font-size: 12px;
}
/* clearn data & display data buttons styles */
.bttn {
    border: none;
	padding: 5px;
	color: #000;
	font-size: 12px;
}
/* input text fields class styles */
.input {
	border-radius: 3px;
    background: #F0F0F0;
}
/* input text fields class hover */
.input:hover {
    border-radius: 5px;
    background: #FFF;
}
